@use '../config/config' as *;

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--bgcolor-body);
    color: var(--color-primary);
    font-family: var(--font-family);
    position: relative;
    text-align: center;
    transition: var(--transition);
}

body::-webkit-scrollbar {
    width: 8px;
    height: 5%;
}

body::-webkit-scrollbar-track {
    background: var(--bgcolor-secundary);
}

body::-webkit-scrollbar-thumb {
    background: var(--color-primary);
    border-radius: 1em;
}

.body-scroll-hidden {
    overflow: hidden;
}

// Estilos light mode
.body--light {
    background-color: $bgcolor-body-light;
    color: $color-primary-light;
}

.body--light::-webkit-scrollbar-track {
    background: $bgcolor-body-light;
}

.body--light::-webkit-scrollbar-thumb {
    background: $color-secundary-light;
}