@use '../config/config' as *;
@use '../helpers/mixins' as *;

.container-footer {
    text-align: center;
    padding: 1.1em;
    font-size: .9rem;
    color: $color-secundary;

    @include media-query(800px) {
        font-size: $font-size-paragraph-movil;
    }
}