@use '../config/config' as *;

@mixin flex($flex-direction: row, $justify-content: initial, $align-items: initial, $flex-wrap: nowrap) {
    display: flex;

    @if $flex-direction  !=row {
        flex-direction: $flex-direction;
    }

    @if $flex-wrap  !=nowrap {
        flex-wrap: $flex-wrap;
    }

    @if $justify-content  !=initial {
        justify-content: $justify-content;
    }

    @if $align-items  !=initial {
        align-items: $align-items;
    }
}

@mixin media-query($min-width) {
    @media screen and (min-width: $min-width) {
        @content;
    }
}